/'lineamientos-generacion-validacion-rips-factura-electronica-fev-doc-electronicos[1] julio 2024.pdf'
/'lineamientos-generacion-validacion-rips-factura-electronica-fev-doc-electronicos[1] marzo 2025.pdf'
